name: Build and Release

on:
  push:
    branches: [ "master" ]
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4

    - name: Setup Zig
      run: |
        sudo snap install zig --classic --beta

    - name: Build
      id: build
      run: |
        sh zstddeclib.sh
        zig build -Dall

    - name: Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v2
      with:
        files: ./zig-out/bin/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
